<%= render 'shared/header_title', header_title: "Blogs", header_sub_title: "Blog a post and comment system!" %>

<!-- Intro Content -->
<div class="row">
  <div class="col-sm-12">
    <p>
      <p><%= @blog.title %></p>
      <div class="col-sm-12 text-right">
      <%= link_to 'Write a comment', '#writeacomment', class: 'btn btn-info btn-xs write-a-comment', data: {nested: "Blog", nested_id: @blog.id} %>
      |
      <%= link_to "Go Back", blogs_path %>
      </div>
    </p>
    <hr>
  </div>
  <div class="col-sm-12">
    <h3>Available Comments <%= @blog.comments.count %></h3>
    <% @blog.comments.each do |comment| %>
    <div class='media'>
      <div class='media-body'><p><%= comment.content %></p>
      <div class='col-sm-12 text-right'>
      #{link_to 
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-sm-12">
    <%= form_for [@blog, Comment.new], html: {class: "comment-form"} do |form| %>
      <fieldset class="form-group">
        <%= form.label "Title", form: "Title" %>
        <%= form.text_field :title, class: "form-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= form.label "Description", form: "Description" %>
        <%= form.text_area :description, class: "form-control" %>
      </fieldset>
      <button class="btn btn-primary" type="submit">Submit Your Comment</button>
    <% end %>
  </div>
</div>
