<%= render 'shared/header_title', header_title: "Topics", header_sub_title: "A Problem Answer System" %>

<!-- Start row -->
<div class="row">
<div class="col-md-12">
  <% @topics.each do |topic| %>
    <div class="col-md-6 portfolio-item text-center snm-height-four">
      <a href="<%= topic_problems_path(topic) %>">
        <%= image_tag topic.images.last.data.url(:original), alt: topic.title, class: "snm-image-size-portfolio-one" %>
      </a>
      <h3>
        <%= link_to topic.title, topic_problems_path(topic) %>
      </h3>
      <p>
        <%= topic.description.truncate(250) %>
      </p>
    </div>
  <% end %>
</div>
</div>
<!-- /.row -->