<%= render 'shared/header_title', header_title: "About Me", header_sub_title: "All professional things about me!" %>

<!-- Intro Content -->
<div class="row">
  <div class="col-sm-7">
    <h3>Employment</h3>
    <% @employments.each do |employment| %>
      <h5>
      <%= employment.role %> - <%= employment.name %>(<%#= employment.started_at.to_time.strftime("%Y-%m-%d") %> - <%#= employment.end_at.strftime("%Y-%m-%d") %>)
      </h5>
      <%= employment.about %>
      <hr>
    <% end %>

    <h3>Education</h3>
    <% @educations.each do |education| %>
      <h5>
        <%= education.cource %> - <%= education.college %>(<%#= education.started_at.strftime("%Y-%m-%d") %> - <%#= education.completed.strftime("%Y-%m-%d") %>)
      </h5>
      <%= education.description %>
      <hr>
    <% end %>
    </div>


  <div class="col-sm-5">
    <% @technology_types.each do |technology_type| %>
      <h3><%= technology_type.title %></h3>
      <div>
        <% if technology_type.technologies.present? %>
          <%= technology_type.technologies.map{|technology| technology.name}.join("<br>").html_safe %>
        <% else %>
          ......
        <% end %>
      </div>
    <% end %>
  </div>
</div>